.ordem {
    display: flex;

}

.espaco {
    padding: 5px;

}

body {

    background-color: lightyellow;

  
}

#titulo {
    text-align: center;
    color: rgba(124, 17, 17, 0.923);

}

table {
    border-color: rgba(124, 17, 17, 0.923);

}

td {
    color: rgba(124, 17, 17, 0.923);
    padding: 5px;
font-size: 20px;
}

h3,h2 {

    color: rgb(119, 61, 10);
}